[submodule "gpgme-sys/gpgme"]
	path = gpgme-sys/gpgme
	url = git://git.gnupg.org/gpgme.git
[submodule "gpgme-sys/libassuan"]
	path = gpgme-sys/libassuan
	url = git://git.gnupg.org/libassuan.git
[submodule "gpgme-sys/build_helper"]
	path = gpgme-sys/build_helper
	url = https://github.com/gpg-rs/build_helper.git
